.datepicker-dropdown {
    background-color: #f7f7f7;
    border-radius: 0;
    border: 3px solid rgba(73, 73, 73, 0.7);
    box-shadow: 6px 6px rgba(73, 73, 73, 0.7);
    padding: 12px;

    &.datepicker-orient-bottom:before {
        top: -11px;
    }

    &:before {
        border-bottom: 7px solid rgba(73, 73, 73, 0.7);
    }

    &:after {
        border-bottom: 6px solid #f7f7f7;
    }
}
